<div id="focus">
    <div id='firstPick'>    <h1>Choose a format:</h1>
    <select name='method' id='methodSelect' (change)='changeMethod()'>
        <option selected disabled>Choose format:</option>
        <option value="1">Old School Cellphone</option>
        <option value="3">Morse Code</option>
        <option value="5">Kids mode</option>
    </select></div>

    
    <h1>Enter your message to encode:</h1>
    <textarea value id='msgToEncode'></textarea><br>
    <button (click)='sendToCryptographer()'>Encode</button> <button (click)='clear()'>Clear</button>
    <p id='encodedMsg' *ngIf='encodedMsg'>{{encodedMsg}}</p><button *ngIf='encodedMsg' (click)='copy()'>Copy</button>

</div>


