<div id="focus">
    <div class='mainCard' id="opening">
        <div id="heading">Welcome to <span id="cryptography">Cryptography</span></div>
        <p id='bio'>The place where you can generate encrypted and secure
            messages, creat puzzles and much more!</p>
    </div>
    <div id='cards'>
        <div class='card' id="oldSchoolCellphone">
            <h5>Old School Cellphone</h5>
            <p class='method'>Method</p>
            <p class='info'>Old school cellhpne is the way we used to text in the past with only 9 numbers on the dial. When we had to press the same button multiple times to get different letter.</p>
        </div>
        <div class='card' id="morseCode">
            <h5>Morse Code</h5>
            <p class='method'>Method</p>
            <p class='info'>Morse code is a method used in telecommunication to encode text characters as standardized
                sequences of
                two different signal durations, called dots and dashes or dits and dahs. Morse code is named after
                Samuel Morse, an inventor of the telegraph.</p>
        </div>
        <div class='card' id="kidsMode">
            <h5>Kids Mode</h5>
            <p class='method'>Method</p>
            <p class='info'>Kids mode replaces each letter with an emoji/pic that starts with the same letter. This 
                can be a fun/challenging game to play with friends. It can also be an educational puzzle. </p>
        </div>
    </div>

</div>
